.container {
  border-top: 10px;
  height: 100%;
}

.container-new-list {
  background-color: #DA0037;
  border-radius: 8px;
  border: white;
  padding: 40px;

}

.container h1 {
  color: white;
}

.container-food {
  align-content: center;
}
